@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.zip') format('woff2'),
         url('Montserrat.zip') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.zip') format('woff2'),
         url('Montserrat.zip') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.zip') format('woff2'),
         url('Montserrat.zip') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat.zip') format('woff2'),
         url('Montserrat.zip') format('woff');
    font-weight: bold;
    font-style: italic;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

.logo-container {
    order: -1; /* Cambia el orden, colocando el logo primero */
}

.logo-container img {
    width: 320px; /* Ajusta el ancho del logo según tus necesidades */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}





#productos,
#testimonios,
#contacto {
    text-align: center;
    padding: 50px 0; 
}
#productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: 0 auto;
}


/* Estilos específicos para el menú de navegación */
nav {
    background-color: #000000;
    color: rgb(0, 0, 0);
    padding: 0.5em;
    text-align: center;
}



header {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

#logo img {
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 10px 0;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para el menú de navegación principal */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
    padding-bottom: 2px;
}



body { 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

}
    


/* Estilos adicionales según sea necesario */


nav {
    background-color: rgb(255, 255, 255); 
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffffff;
}


nav ul ul {
    background-color: rgba(0, 0, 0, 0.9); 
}

nav ul ul a {
    color: #000000;
    font-weight: normal;
}

nav ul ul a:hover {
    color: #ffffff;
}

#testimonios {
    padding: 50px 0;
    text-align: center;
    color: #000000; 
}

#testimonios h2 {
    font-size: 28px;
    color: #000000; /* Color del título */
}

.testimonio {
    max-width: 600px;
    margin: 0 auto 30px;
    background-color: rgba(0, 0, 0, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.testimonio p {
    font-size: 16px;
    color: #ffffff; /* Color del texto del testimonio */
    margin-bottom: 15px;
}

.testimonio .cliente {
    font-weight: bold;
    color: #ffffff; /* Color del nombre del cliente */
}

#contacto {
    color: #fff;
    padding: 50px 0;
    text-align: center;
}

#contacto h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

#formulario-contacto {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#formulario-contacto label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
}

#formulario-contacto input,
#formulario-contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

#formulario-contacto button {
    background-color: #000000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario-contacto button:hover {
    background-color: #000000;
}


/* Estilos para el botón de enviar */
#formulario-contacto button {
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#formulario-contacto button:hover {
    background-color: #45a049; 
}

#productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.producto {
    width: 300px;
    margin: 20px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.producto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #000000; 
    margin: 0;
    padding: 0;
   
}

.producto h3 {
    color: #000000; 
}

.producto p {
    color: #000000; 
}

#politicas {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0; 
}

.politica-item {
    text-align: center;
    margin: 0; 
    width: 48%;
}

.imagen-envios,
.imagen-devoluciones {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin: 0 auto; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;

}


.imagen-envios:hover,
.imagen-devoluciones:hover {
    transform: scale(1.1);
}

.imagen-envios img,
.imagen-devoluciones img {
    width: 100%;
    height: auto;
    margin: 0; 
    padding: 0; 
    transition: transform 0.3s ease-in-out;
}

.imagen-envios img:hover,
.imagen-devoluciones img:hover {
    transform: scale(1.1);
}

.politica-item p {
    margin: 0; 
    text-align: center; 
}

.consejo img {
    width: 200px;
    height: 150px; 
    object-fit: cover; 
    display: block;
    margin: 0 auto;
}



#ofertas-redes-sociales {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.oferta-social {
    margin-right: 10px; 
}

.btn-seguir-en-insta img{
    width: 666px; 
    height: 374px; 


}

.btn-unirte-en-whatsapp img {
    width: 200px; 
    height: 150px; 
}

#inicio h2 {
    font-size: 56px; 
    margin-top: 20px; 
    color: green;
    text-align: center; 
    font-size: 56px; 
}




























































